global:
  nameOverride: jellyfin

bitwardenIds:
  samba-users: OVERRIDE_NEEDED

app-template:
  controllers:
    jellyfin:
      pod:
        #nodeSelector:
        #  intel.feature.node.kubernetes.io/gpu: "true"
        securityContext:
          runAsNonRoot: true
          runAsUser: 568
          # Using gid 1000 as "shared" group.
          runAsGroup: 1000
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
          seccompProfile: { type: RuntimeDefault }
          supplementalGroups:
            - 44 # video
            - 109 # render
            - 568
      containers:
        app:
          image:
            repository: jellyfin/jellyfin
            tag: 10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
          env:
            JELLYFIN_PublishedServerUrl: https://jellyfin.local
          #securityContext:
          #  allowPrivilegeEscalation: false
          #  readOnlyRootFilesystem: true
          #  capabilities: { drop: ["ALL"] }
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: &port 8096
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 30
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              memory: 8Gi
              #gpu.intel.com/i915: 1
  service:
    app:
      controller: jellyfin
      type: LoadBalancer
      ports:
        http:
          port: *port
  ingress:
    app:
      hosts:
        - host: jellyfin.local
          paths:
            - path: /
              service:
                identifier: app
                port: http
  persistence:
    config:
      existingClaim: jellyfin
    cache:
      type: emptyDir
    transcode:
      type: emptyDir
    media:
      existingClaim: media-shared
      globalMounts:
        - path: /media
