{{- $config := site.Params }}
<nav class="wrap nav menu">
	<a href='{{ absLangURL "" }}' class="nav_brand">
		{{- $logos := $config.logo }}
		{{- $litPath := absURL ($logos.lightMode) }}
		{{- $darkPath := absURL ($logos.darkMode) }}
		<picture data-lit="{{ $litPath }}" data-dark="{{ $darkPath }}">
			<img src="{{ $litPath }}" alt="{{ site.Title }} Logo">
		</picture>
		<span class="brand_text">Sci-Fi Farms</span>
		<div class="nav_toggle toggle" title='{{ T "site_menu" }}'>
			{{- partial "sprite" (dict "icon" "harmburger") }}
		</div>
	</a>
	<ul class="nav_body">
		<li class="nav-item">
			{{- partial "search" . }}
		</li>
		<li class="nav-item">{{ partial "mode" . }}</li>
	</ul>
</nav>
