apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "prometheus-{{ .Release.Name }}-prometheus-db-prometheus-{{ .Release.Name }}-prometheus-0"
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
