apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  # This is a mess of a name because it has to exactly match what kube-prometheus-stack generates >_<.
  name: "prometheus-{{ .Release.Name }}-kube-prometheus-prometheus-db-prometheus-{{ .Release.Name }}-kube-prometheus-prometheus-0"
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
