
bitwardenIds:
  keycloak: OVERRIDE_VIA_CUSTOM_VALUES
  keycloak-pg: OVERRIDE_VIA_CUSTOM_VALUES
  smtp: OVERRIDE_VIA_CUSTOM_VALUES
  gitea: OVERRIDE_VIA_CUSTOM_VALUES
  gitea-admin: OVERRIDE_VIA_CUSTOM_VALUES

domain: OVERRIDE_VIA_APPSET
clusterName: OVERRIDE_VIA_APPSET

charts: 
  external-secrets-bitwarden:
    version: 1.0.10 # renovate: datasource=helm registryUrl=https://ownyourio.github.io/SpencersLab/
    repository: https://ownyourio.github.io/SpencersLab/
    namespace: default
    ServerSideApply: "true"
  k8s-monitoring:
    #version: 1.0.13 # renovate: datasource=helm registryUrl=https://ownyourio.github.io/SpencersLab/
    #repository: https://ownyourio.github.io/SpencersLab/
    namespace: default
    ServerSideApply: "true"
  seaweedfs:
    #version: 1.0.13 # renovate: datasource=helm registryUrl=https://ownyourio.github.io/SpencersLab/
    #repository: https://ownyourio.github.io/SpencersLab/
    namespace: default
    ServerSideApply: "false"
  389ds:
    #version: 1.0.13 # renovate: datasource=helm registryUrl=https://ownyourio.github.io/SpencersLab/
    #repository: https://ownyourio.github.io/SpencersLab/
    namespace: default
    ServerSideApply: "true"
  keycloakx:
    #version: 1.0.13 # renovate: datasource=helm registryUrl=https://ownyourio.github.io/SpencersLab/
    #repository: https://ownyourio.github.io/SpencersLab/
    namespace: default
    ServerSideApply: "true"

ingress:
  subdomains:
    login:
      #serviceName: keycloakx
      service: infra-keycloakx-http
      port: 80

    seaweedfs-filer:
      serviceName: seaweedfs-filer.infra
      service: seadweedfs-filer
      port: 8888

    seaweedfs-volume:
      serviceName: seaweedfs-volume.infra
      service: seaweedfs-volume
      port: 8080

    seaweedfs-master:
      serviceName: seaweedfs-master.infra
      service: seaweedfs-master
      port: 9333

    s3:
      #serviceName: seaweedfs-s3.infra
      service: seaweedfs-s3
      port: 8333

    #git:
    #  serviceName: forgejo
    #  service: infra-forgeo
    #  port: ????

    cluster:
      clusterBase: true
      service: argocd-server
      port: 80
    traefik:
      clusterBase: true
      namespace: kube-system
      service: traefik
      port: 80

# This is needed to enable the seaweedfs port on 8080.
seaweedVolumePort: 8080

prometheus:
  serviceMonitorSelectorNilUsesHelmValues: false

generic-device-plugin:
  app-template:
    configMaps:
      config:
        enabled: true
        data:
          devices.yaml: |-
            devices:
              - name: hdd
                groups:
                  - paths:
                      - path: /var/mnt/drive1
                        mountPath: /drive
                      - path: /var/mnt/drive2
                        mountPath: /drive
                      - path: /var/mnt/drive3
                        mountPath: /drive
                      - path: /var/mnt/drive4
                        mountPath: /drive
                      - path: /var/mnt/drive5
                        mountPath: /drive

seaweedfs-csi-driver:
  #seaweedfsFiler: "seaweedfs-filer.{{ $.Values.clusterName }}.{{ $.Values.domain }}"
  seaweedfsFiler: "seaweedfs-filer-0.seaweedfs-filer.default:8888"

  seaweedfsCsiPlugin:
    image: chrislusf/seaweedfs-csi-driver:v1.3.6
  mountService:
    enabled: true

  controller:
    timeout: 3600  # Increase timeout
  node:
    livenessProbe:
      timeoutSeconds: 10      # Increase from default 3

samba:
  app-template:
    controllers:
      samba:
        containers:
          main:
            image:
              repository: ghcr.io/crazy-max/samba
              tag: 4.21.4@sha256:75f5037770eab774b82f298268305af8a18a01a1daad679f8d2d17c54059c847
            env:
              TZ: America/Denver
              SAMBA_HOSTS_ALLOW: "127.0.0.0/8 10.0.0.0/16"
              SAMBA_SERVER_STRING: &serverstring "storage.spencerslab.com"
              #WSDD2_ENABLE: "1"
              #WSDD2_HOSTNAME: "storage"
              #WSDD2_NETBIOS_NAME: "storage"

    configMaps:
      samba-config:
        data: 
          samba.yaml: |-
            ---
            auth:
              - user: spencer
                group: spencer
                uid: 1000
                gid: 1000
                password_file: /run/secrets/spencer_password
            share:
              - name: media
                path: /mnt/media
                browsable: yes
                writable: yes
                readonly: no
                guestok: no
                validusers: spencer
                writelist: spencer
                veto: no
                hidefiles: /_*/
                recycle: yes
                force user: 1000
              - name: backup-gpu
                path: /mnt/backup-gpu
                browsable: yes
                readonly: no
                guestok: no
                public: yes
                validusers: spencer
                writelist: spencer
                veto: no
                hidefiles: /_*/
                recycle: yes
                force user: spencer
              - name: documents
                security: user
                path: /mnt/documents
                browsable: yes
                readonly: no
                guestok: no
                validusers: spencer
                writelist: spencer
                veto: no
                hidefiles: /_*/
                recycle: yes
              - name: pictures
                path: /mnt/pictures
                browsable: yes
                readonly: no
                guestok: no
                validusers: spencer
                writelist: spencer
                veto: no
                hidefiles: /_*/
                recycle: yes
              - name: backups
                create mask: 666
                directory mask: 777
                path: /mnt/backups
                browsable: yes
                readonly: no
                guestok: no
                validusers: spencer
                writelist: spencer
                veto: no
                hidefiles: /_*/
                recycle: yes

    persistence:
      users:
        type: secret
        name: keycloak-secret
        advancedMounts:
          samba:
            main:
              - path: /run/secrets/spencer_password
                subPath: KEYCLOAK_ADMIN_PASSWORD
                readOnly: true
        
      config:
        name: "infra-samba"
        type: configMap
        advancedMounts:
          samba:
            main:
              - path: /data/config.yml
                subPath: samba.yaml
                readOnly: true
      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media
      player:
        existingClaim: backup-gpu
        globalMounts:
          - path: /mnt/backup-gpu
      pictures:
        existingClaim: pictures
        globalMounts:
          - path: /mnt/pictures
      documents:
        existingClaim: documents
        globalMounts:
          - path: /mnt/documents
      backups:
        existingClaim: backups
        globalMounts:
          - path: /mnt/backups

forgejo:
  redis-cluster:
    enabled: false
  redis:
    enabled: true
  postgresql:
    enabled: true
  postgresql-ha:
    enabled: false

  persistence:
    enabled: true

  gitea:
    config:
      APP_NAME: "Gitea!!!"
      database:
        DB_TYPE: postgres
      indexer:
        ISSUE_INDEXER_TYPE: bleve
        REPO_INDEXER_ENABLED: true

    admin:
      existingSecret: gitea-admin-secret
      email: gitea@spencerslab.com

    ldap:
      - name: LDAP
        securityProtocol: unencrypted
        host: 'infra-389ds.default'
        port: '389'
        userSearchBase: dc=spencerslab,dc=com
        userFilter: (objectClass=person)
        adminFilter: (CN=brenda)
        emailAttribute: mail
        existingSecret: gitea-secret
        usernameAttribute: CN
        publicSSHKeyAttribute: publicSSHKey

    oauth:
      - name: 'OAuth'
        provider: 'openidConnect'
        existingSecret: gitea-secret
        autoDiscoverUrl: 'https://login.spencerslab.com/realms/SpencersLab/.well-known/openid-configuration'

  deployment:
    containers:
      '0':
        env:
          DISABLE_REGISTRATION: true
