global:
  nameOverride: drawio
domain: OVERRIDE_VIA_APPSET
appName: drawio

app-template:
  controllers:
    drawio:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: jgraph/drawio
            tag: 26.2.15
          env:
            TZ: Etc/UTC
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL
      pod:
        securityContext:
          runAsUser: 1000
          runAsNonRoot: true
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
  service:
    drawio:
      controller: drawio
      ports:
        http:
          port: &port 8080
  persistence:
    data:
      existingClaim: "{{ .Release.Name }}"
      globalMounts:
        - path: /var/lib/drawio
