keycloak:
  realm: OVERRIDE_VIA_CUSTOM_VALUES

bitwardenIds:
  crowdsec-secret: OVERRIDE_VIA_CUSTOM_VALUES
  traefik-sso-secret: OVERRIDE_VIA_CUSTOM_VALUES
  traefik-mqtt: OVERRIDE_VIA_CUSTOM_VALUES

domain: OVERRIDE_VIA_APPSET
clusterName: OVERRIDE_VIA_APPSET
namespace: OVERRIDE_VIA_APPSET

cert-manager:
  installCRDs: true

traefik:
  fullnameOverride: "traefik"

  additionalArguments:
    - "--api"
    - "--api.dashboard=true"
    - "--api.insecure=true"
    - "--serversTransport.insecureSkipVerify=true"
    - "--providers.file.filename=/data/user-allowlist.yaml"
    - "--providers.file.watch=true"
    # Force all port 80 traffic to 443
    - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
    - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
  dashboard:
    enabled: true

  ingressClass:
    enabled: true
    name: "traefik"  # Change from "proxy-local-traefik"

  persistence:
    enabled: true
    existingClaim: "proxy-allowlist"
    accessMode: ReadWriteOnce

  providers:
    kubernetesCRD:
      allowCrossNamespace: true
      allowExternalNameServices: true
    kubernetesIngress:
      allowEmptyServices: true
      allowExternalNameServices: true
  deployment:
    additionalContainers:
    - name: user-allowlist-mqtt
      image: ghcr.io/ownyourio/traefik-mqtt-allowlist:0.0.6

      envFrom:
        - secretRef:
            name: traefik-mqtt
      securityContext:
        runAsUser: 65532
        runAsGroup: 65532
      volumeMounts:
        - name: data
          mountPath: /data

  experimental:
    plugins:
      geoblock:
        moduleName: "github.com/PascalMinder/geoblock"
        version: "v0.3.3"
      keycloakopenid:
        moduleName: "github.com/jmcarbo/keycloakopenid"
        version: "v0.1.40"
      crowdsec:
        moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
        version: "v1.3.5"
      traefik-plugin-redirect-on-status:
        moduleName: "github.com/m-riedel/traefik-plugin-redirect-on-status"
        version: "v1.0.1"
      rewrite-password-with-char-req:
        moduleName: "github.com/traefik/plugin-rewritebody"
        version: "v0.3.1"
      theme-park:
        moduleName: "github.com/packruler/traefik-themepark"
        version: "v1.4.2"

  service:
    type: LoadBalancer
    spec:
      externalTrafficPolicy: Local

  ports:
    web:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
      proxyProtocol:
        trustedIPs:
          - "10.42.0.0/16"
      forwardedHeaders:
        trustedIPs:
          - "10.42.0.0/16"
    websecure:
      proxyProtocol:
        trustedIPs:
          - "10.42.0.0/16"
      forwardedHeaders:
        trustedIPs:
          - "10.42.0.0/16"

  metrics:
    prometheus:
      serviceMonitor:
        enabled: true
        namespace: default

  volumes:
    - name: '{{ .Release.Name }}-bouncer-tls'
      mountPath: /etc/traefik/crowdsec-certs/
      type: secret
    - name: traefik-sso
      type: secret
      mountPath: "/run/secrets/oidc"

  logs:
    # general:
    #  level: DEBUG
    access:
      enabled: true

crowdsec:
  container_runtime: containerd
  tls:
    enabled: true
    agent:
      tlsClientAuth: true
  secrets:
    externalSecret:
      name: "crowdsec-keys"
      csLapiSecretKey: "csLapiSecretKey"
      registrationTokenKey: "registrationToken"

  lapi:
    storeCAPICredentialsInSecret: true
    storeLAPICscliCredentialsInSecret: false
    env:
      # TODO: Handle this better
      - name: TZ
        value: America/Denver
      - name: ENROLL_INSTANCE_NAME
        value: proxy-remote
      # Setting the enroll key after initial startup requires force enrollment
      # which currently breaks the local API.
      - name: ENROLL_KEY
        valueFrom:
          secretKeyRef:
            name: crowdsec-keys
            key: ENROLL_KEY
      - name: LEVEL_DEBUG
        value: "true"
    config:
      config.yaml.local: |
        api:
          server:
            auto_registration:
              enabled: false  # Disable password-based registration
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    persistentVolume:
      # Persistent volume for data folder.
      # Stores e.g. registered bouncer api keys
      data:
        enabled: true
        accessModes:
          - ReadWriteOnce
        size: 1Gi
      # Persistent volume for config folder.
      # Stores e.g. online api credentials
      config:
        enabled: false
  agent:
    acquisition:
      - namespace: kube-system
        podName: traefik-[0-9]*
        program: traefik
        poll_without_inotify: true
    env:
      # TODO: Handle this better
      - name: TZ
        value: America/Denver
      - name: COLLECTIONS
        value: >-
          crowdsecurity/linux
          crowdsecurity/traefik
          crowdsecurity/base-http-scenarios
          crowdsecurity/http-cve

    persistentVolume:
      # Persistent volume for config folder.
      # Stores local config (parsers, scenarios etc.)
      config:
        enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
