bitwardenIds:
  keycloak: OVERRIDE_NEEDED
  keycloak-mqtt: OVERRIDE_NEEDED
  keycloak-pg: OVERRIDE_NEEDED

domain: OVERRIDE_VIA_APPSET

keycloakx:
  image:  
    repository: quay.io/keycloak/keycloak
    tag: 26.4.0

  command:
    - "/opt/keycloak/bin/kc.sh"
    - "--verbose"
    - "start"

  database:
    vendor: "postgres"
    hostname: "pg-keycloak-rw"
    port: "5432"
    database: "keycloak"
    user: "keycloak"
    existingSecret: "pg-keycloak-secret"
    existingSecretKey: "password"
  dbchecker:
    enabled: true

  http:
    relativePath: /
    internalPort: metrics

  proxy:
    enabled: true
    mode: xforwarded

  extraEnv: |-
    - name: TZ
      value: "America/Denver"
    - name: JAVA_OPTS_APPEND
      value: >-
        -Djava.awt.headless=true
        -Djgroups.dns.query=keycloak-headless
        -XX:+UseContainerSupport
    #- name: PROXY_ADDRESS_FORWARDING
    #  value: "true"
    - name: KC_HTTP_PORT
      value: "8080"
    - name: KC_HOSTNAME_STRICT
      value: "true"
    - name: KC_HOSTNAME_STRICT_HTTPS
      value: "true"
    - name: KC_LOG_LEVEL
      value: "org.keycloak.events:DEBUG,org.infinispan:INFO,org.jgroups:INFO"
  extraEnvFrom: |-
    - secretRef:
        name: keycloak-secret
    
  extraVolumes: |-
    - name: keycloak-data
      persistentVolumeClaim:
        claimName: keycloak
    - name: keycloak-providers
      persistentVolumeClaim:
        claimName: keycloak-providers
  # - name: customreg
  #   secret:
  #     secretName: {{ include "keycloak.fullname" . }}-customreg
  # - name: realm
  #   secret:
  #     secretName: {{ include "keycloak.fullname" . }}-realm
  # - name: plugin
  #   emptyDir: {}
  # - name: truststore
  #   secret:
  #     secretName: {{ include "keycloak.fullname" . }}-truststore
  # - name: custom-theme
  #   emptyDir: {}
  extraVolumeMounts: |-
    - name: keycloak-data
      mountPath: /opt/keycloak/data/
    - name: keycloak-providers
      mountPath: /opt/keycloak/providers/
    # Mounting at /data/ because that's where traefik reads it from. 
    # In this pod it might work elsewhere. Would have to update the SPI.

  metrics:
    enabled: true

  serviceMonitor:
    enabled: true
    port: metrics

  extraServiceMonitor:
    enabled: true  
    port: http
    path: /realms/master/metrics
