# This is used to prevent helm from creating objects that depend on CRDs that don't exist yet.
# helm install --namespace default --set initialInstall=true base OwnYourIO/base
# Then when the actual application is installed it can reset this as the CRDs should exist.
initialInstall: false

# These are optional and should be overridden with values from custom_values
bitwardenIds:
  cert-manager-solver-token:
  argocd-sso-secret:

# It's expected that these will be overridden with values from the AppSet.
# Similarly, where you see these in a values.yaml file, it's used as a reference.
#   The actual value is coming from an override on the AppSet.
domain: local
clusterName: base
letsEncryptEmail: ""
#letsEncryptSolver: 

# This will allow k3s to be updated. Disabled by default incase anyone uses something other than k3s
autoUpdateK3s: false

# Additionally to disable sso, override this in the umbrella app.
# argo-cd.server.authMode ... or maybe argo-cd.server.sso.enabled

trustedIPs:
  - "10.42.0.0/16"

proxy:
  middlewares:
    entrypoint: ""

charts:

cert-manager:
  crds:
    enabled: true
  # This is disabled because it's not necessary, causing problems jamming up ArgoCD, and is redundant.
  startupapicheck:
    enabled: false

argo-cd:
  fullnameOverride: "argocd"
  server:
    authMode: sso
    sso:
      # -- Create SSO configuration. If you set `true` , please also set `.Values.server.authMode` as `sso`.
      enabled: true
      # The rest of the SSO config is done in the ConfigMap to support the use of secrets to replace vars.

    extraArgs:
      - --insecure
      - --application-namespaces="*"
  repoServer:
    containerPorts:
      server:
        name: repo-server
        containerPort: 8081

  configs:
    # General Argo CD configuration
    ## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/argocd-cm.yaml
    cm:
      oidc.config: |
        name: Keycloak
        issuer: $argocd-sso:issuer
        clientId: $argocd-sso:client-id
        clientSecret: $argocd-sso:client-secret
        requestedIDTokenClaims:
          groups:
            essential: true
        requestedScopes:
          - openid
          - profile
          - email
          - groups

      # This is needed because when argocd is installed initially with raw k8s 
      # objects and then taken over with the appset, it's missing the appset selector. 
      # Selectors are immutable and already can't run more than one argocd per 
      # namespace so just ignoring that difference for now.
      resource.customizations.ignoreDifferences.apps_Deployment: |
        jqPathExpressions:
          - '.spec.selector'
          - '.metadata.labels'
      resource.customizations.ignoreDifferences.apps_StatefulSet: |
        jqPathExpressions:
          - '.spec.selector'
          - '.metadata.labels'

      # This is to address https://github.com/bjw-s/helm-charts/issues/366
      resource.customizations.ignoreDifferences.apps_Deployment: |
        jqPathExpressions:
          - '.spec.template.spec.hostUsers'
      resource.customizations.ignoreDifferences.apps_StatefulSet: |
        jqPathExpressions:
          - '.spec.volumeClaimTemplates[] | select(.metadata) | .apiVersion'
          - '.spec.volumeClaimTemplates[] | select(.metadata) | .kind'

    rbac:
      create: true
      policy.default: ""
      policy.csv: |
        g, Admin, role:admin
      scopes: "[groups]"

  dex:
    enabled: false
  notifications:
    enabled: false
  applicationSet:
    enabled: true

  controller:
    extraArgs:
      - --application-namespaces="*"
