# These may or may not be necessary in the zero trust version?
domain: OVERRIDE_VIA_APPSET
clusterName: OVERRIDE_VIA_APPSET

cert-manager:
  installCRDs: true

traefik:
  additionalArguments:
    - "--api"
    #- "--api.dashboard=true"
    - "--api.insecure=true"
    - "--serversTransport.insecureSkipVerify=true"
    # Leave 80 un geoblocked. Otherwise it gets in the way of the cert generation. 
    # It's automatically forwarded to 443 by the proxy-local anyway.
    #- "--entrypoints.web.http.middlewares=kube-system-geoblock@kubernetescrd"
    #- "--entrypoints.websecure.http.middlewares=kube-system-geoblock@kubernetescrd"
    - "--providers.file.filename=/data/admin-allowlist.yaml"
    - "--providers.file.watch=true"
    - "--entryPoints.web.http.redirections.entryPoint.to=https"
    - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
  dashboard: 
    enabled: false

  ingressClass:
    enabled: true
    name: "traefik"  # Change from "proxy-remote-traefik"

  persistence:
    enabled: true
    size: 1Gi 

  providers:
    kubernetesCRD:
      allowCrossNamespace: true
      allowExternalNameServices: true
    kubernetesIngress:
      allowEmptyServices: true
      allowExternalNameServices: true
    file:
      filename: "/data/admin-allowlist.yaml"
      watch: true

  experimental:
    plugins:
      geoblock:
        moduleName: "github.com/PascalMinder/geoblock"
        # renovate: depName=github.com/PascalMinder/geoblock
        version: "v0.3.3"
      rewrite-body:
        moduleName: "github.com/traefik/plugin-rewritebody"
        version: "v0.3.1"

  service:
    type: LoadBalancer
    spec:
      externalTrafficPolicy: Local

  ports:
    web:
      # Have do to this in the args manually because port comes through as :443 when I thin it should be websecure.
      #redirections:
      #  entryPoint:
      #    to: websecure
      #    scheme: https
      #    permanent: true
      proxyProtocol:
        enabled: true
    websecure:
      proxyProtocol:
        enabled: true

  metrics:
    prometheus:
      serviceMonitor:
        enabled: true
        namespace: default
        additionalLabels:
          release: monitoring-agent
          prometheus: system-monitoring-prometheus-prometheus

  logs:
    #general:
    #  level: DEBUG
    access:
      enabled: true


crowdsec:
  container_runtime: containerd
  tls:
    enabled: true
    agent:
      tlsClientAuth: true

  lapi:
    storeCAPICredentialsInSecret: true
    certManager:
      enabled: true
      secretTemplate:
        annotations: {}
        labels: {}
    env:
      # TODO: Handle this better
      - name: TZ
        value: America/Denver
      - name: DISABLE_ONLINE_API
        value: "true"
      #- name: ENROLL_INSTANCE_NAME
      #  value: proxy-remote
      # Setting the enroll key after initial startup requires force enrollment
      # which currently breaks the local API.
      #- name: ENROLL_KEY
      #  valueFrom:
      #    secretKeyRef:
      #      name: crowdsec-keys
      #      key: ENROLL_KEY
      - name: LEVEL_DEBUG
        value: "true"
    config:
      config.yaml.local: |
        api:
          server:
            auto_registration:
              enabled: false  # Disable password-based registration
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: monitoring-agent
    persistentVolume:
      # Persistent volume for data folder.
      # Stores e.g. registered bouncer api keys
      data:
        enabled: true
        accessModes:
          - ReadWriteOnce
        size: 1Gi
      # Persistent volume for config folder.
      # Stores e.g. online api credentials
      config:
        enabled: false
  agent:
    acquisition:
      - namespace: kube-system
        podName: traefik-[0-9]*
        program: traefik
        poll_without_inotify: true
    env:
      # TODO: Handle this better
      - name: TZ
        value: America/Denver
      - name: COLLECTIONS
        value: >-
          crowdsecurity/linux
          crowdsecurity/traefik
          crowdsecurity/base-http-scenarios
          crowdsecurity/http-cve

    persistentVolume:
      # Persistent volume for config folder.
      # Stores local config (parsers, scenarios etc.)
      config:
        enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: monitoring-agent
