{{- range $name, $config := .Values.proxy.subdomains }}
{{- if $config.ssoRedirectPath }}
{{- $basePath := coalesce $config.path $config.ssoRedirectPath "/" }}
{{- $pathWithDomain := regexReplaceAll "\\$\\.Values\\.domain" $basePath $.Values.domain }}
# This is needed otherwise Traefik's ingress path matching doesn't work.
{{- $strippedUrl := regexReplaceAll "\\?.*" $pathWithDomain "" }}
{{- $finalPath := regexReplaceAll "\\$\\.Values\\.authRealm" $strippedUrl $.Values.authRealm }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ $name }}-sso-ingress"
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: "{{ $.Values.proxy.middlewares.entrypoint }}"
    traefik.ingress.kubernetes.io/router.priority: "15"  # Lower than IngressRoute so that if those match they take priority (cus they're local).
spec:
  tls:
    - hosts:
        - "{{ $name }}.{{ $.Values.domain }}"
  rules:
    - host: "{{ $name }}.{{ $.Values.domain }}"
      http:
        paths:
          # Be aware this only matches the path. It ignores everything ? and after.
          - path: {{ $finalPath }}
            pathType: Exact
            backend:
              service:
                name: "{{ $name }}-service"
                port:
                  number: 443
{{- if $config.ssoAllowedPaths }}
{{- range $path := $config.ssoAllowedPaths }}
          - path: {{ $path }}
            pathType: Exact
            backend:
              service:
                name: "{{ $name }}-service"
                port:
                  number: 443
{{- end }}
{{- end }}
{{- end }}
{{- end }}
