# Pretty sure this just gets ignored when a custom Traefik chart is used instead.
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--log.level=DEBUG"
      - "--serversTransport.insecureSkipVerify=true"
    dashboard: 
      enabled: true
    service:
      type: LoadBalancer
      spec:
        externalTrafficPolicy: Local
    ports:
      traefik:
        expose:
          default: true
        # Change from the default of 8080 to avoid conflict with SeaweedFS volumes.
        port: 9000
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
        proxyProtocol:
          trustedIPs: 
            {{- range .Values.trustedIPs }}
            - "{{ . }}"
            {{- end }}
        forwardedHeaders:
          trustedIPs:
            {{- range .Values.trustedIPs }}
            - "{{ . }}"
            {{- end }}
      websecure:
        proxyProtocol:
          trustedIPs: 
            {{- range .Values.trustedIPs }}
            - "{{ . }}"
            {{- end }}
        forwardedHeaders:
          trustedIPs:
            {{- range .Values.trustedIPs }}
            - "{{ . }}"
            {{- end }}
        transport:
          respondingTimeouts:
            readTimeout: 600s
            writeTimeout: 600s
            idleTimeout: 600s
      {{- if index .Values "seaweedVolumePort" }}
      seaweedvolume:
        port: {{ index .Values "seaweedVolumePort" }}
        expose:
          default: true
        exposedPort: 8080
        protocol: TCP
      {{- end }}
    entryPoints:
      seaweedvolume:
        address: ":8080"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
        allowExternalNameServices: true
      kubernetesIngress:
        allowEmptyServices: true
        allowExternalNameServices: true
