{{- range $name, $config := .Values.proxy.subdomains }}
{{- $subDomain := "" }} {{/* Initialize the variable */}}
{{- if $config.clusterBase | default false}}
{{- $subDomain = printf "%s.%s" $name $.Values.clusterName }}
{{- else }}
{{- $subDomain = $name }}
{{- end}}
{{- $hostname := $config.domain | default (printf "%s.%s" $subDomain $.Values.domain) }}
{{- $secretName := "" }}
{{- if $config.domain }}
{{- $secretName = printf "%s-cert" $name }}
{{- else if $config.clusterBase | default false }}
{{- $secretName = "cluster-wildcard-cert" }}
{{- else }}
{{- $secretName = "wildcard-cert" }}
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ $subDomain | replace "." "-" }}-ingress"
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: {{ $config.middlewares | default $.Values.proxy.middlewares.entrypoint }}
spec:
  tls:
    - hosts:
      - "{{ $hostname }}"
      secretName: "{{ $secretName }}"
  rules:
    - host: "{{ $hostname }}"
      http:
        paths:
        {{- range $path := default (list "/") $config.paths }}
          - path: {{ $path }}
            pathType: Prefix
            backend:
              service:
                {{- if $config.service }}
                name: "{{ $config.service }}"
                {{- else }}
                name: proxy-service
                {{- end }}
                port:
                  number: {{ $config.port | default 443 }}
        {{- end }}
{{- end }}

--- 
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-to-https
spec:
  redirectScheme:
    scheme: https
    permanent: true
