bitwardenIds:
  n8n: OVERRIDE_VIA_CUSTOM_VALUES

domain: OVERRIDE_VIA_APPSET

app-template:
  global:
    nameOverride: &chartName n8n

  controllers:
    n8n:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: n8nio/n8n
            tag: 2.6.0
          env:
            NODE_FUNCTION_ALLOW_EXTERNAL: "*"
            N8N_HOST: "0.0.0.0"
            N8N_PORT: "5678"
            N8N_PROTOCOL: "http"
            N8N_LOG_LEVEL: "info"
            N8N_METRICS: "true"
            N8N_DISABLE_UI: "false"
            TZ: Etc/UTC
          envFrom:
            - secretRef:
                name: *chartName
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            requests:
              cpu: 10m
              memory: 140Mi
            limits:
              memory: 2Gi
          securityContext:
            allowPrivilegeEscalation: false
            # TODO: Get this working.
            #readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
        scrape4ai:
          image:
            repository: unclecode/crawl4ai
            tag: 0.7.8
          env:
            TZ: Etc/UTC
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 1Gi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      #pod:
        # TODO: Get this working.
        #securityContext:
        #  runAsUser: 1000
        #  runAsNonRoot: true
        #  fsGroup: 1000
        #  fsGroupChangePolicy: OnRootMismatch
  service:
    n8n:
      controller: *chartName
      ports:
        http:
          port: 5678
    scrape4ai:
      controller: *chartName
      ports:
        http:
          port: 11235
  persistence:
    config:
      existingClaim: *chartName
      globalMounts:
        - path: /home/node
    data:
      existingClaim: markdown-shared
      globalMounts:
        - path: /data/markdown
