global:
  nameOverride: zigbee2mqtt
domain: OVERRIDE_VIA_APPSET
appName: zigbee2mqtt
bitwardenIds:
  zigbee2mqtt: OVERRIDE_NEEDED
app-template:
  controllers:
    zigbee2mqtt:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/koenkk/zigbee2mqtt
            tag: 2.8.0
          env:
            TZ: Etc/UTC
            # Use this by default. May want to override
            ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: zstack
            ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: "{{ .Release.Name }}"
            ZIGBEE2MQTT_DATA: /config
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_DISCOVERY_TOPIC: homeassistant
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_TRIGGERS: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_STATUS_TOPIC: homeassistant/status
            ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
            ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info # debug
            ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
            ZIGBEE2MQTT_CONFIG_AVAILABILITY_ACTIVE_TIMEOUT: 60
            ZIGBEE2MQTT_CONFIG_AVAILABILITY_PASSIVE_TIMEOUT: 2000
            ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: false
            ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: true
            ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: true
            ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: &port 8080
            ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: true
            ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: 60
            ZIGBEE2MQTT_CONFIG_MQTT_REJECT_UNAUTHORIZED: true
            ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 4
            ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: false
            # This avoids being redirected to localhost:8080 after onboarding.
            Z2M_ONBOARD_NO_REDIRECT: 1
          envFrom:
            - secretRef:
                name: "{{ .Release.Name }}-secret"
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 256Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true

      pod:
        securityContext:
          runAsUser: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
          supplementalGroups:
            # Dialout on MicroOS
            - 492 
            - 20
  service:
    zigbee2mqtt:
      controller: zigbee2mqtt
      ports:
        http:
          port: *port
  persistence:
    config:
      existingClaim: "{{ .Release.Name }}"
