bitwardenIds:
  neo4j: OVERRIDE_VIA_CUSTOM_VALUES

domain: OVERRIDE_VIA_APPSET

app-template:
  global:
    nameOverride: &chartName neo4j

  controllers:
    neo4j:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: neo4j
            tag: "5.23.0-community"
          env:
            NEO4J_AUTH: "neo4j/$(NEO4J_PASSWORD)"
            NEO4J_PLUGINS: '["apoc"]'
            NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
            NEO4J_dbms_security_procedures_allowlist: "apoc.*"
            NEO4J_server_memory_heap_initial__size: "512m"
            NEO4J_server_memory_heap_max__size: "1G"
            NEO4J_server_memory_pagecache_size: "512m"
            TZ: Etc/UTC
          envFrom:
            - secretRef:
                name: *chartName
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /
                  port: 7474
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /
                  port: 7474
          resources:
            requests:
              cpu: 200m
              memory: 1Gi
            limits:
              memory: 4Gi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      pod:
        securityContext:
          runAsUser: 7474
          fsGroup: 7474
          fsGroupChangePolicy: OnRootMismatch
          runAsNonRoot: true
  service:
    neo4j:
      controller: *chartName
      ports:
        http:
          port: 7474
        bolt:
          port: 7687
  persistence:
    data:
      existingClaim: *chartName
      globalMounts:
        - path: /data
    logs:
      type: emptyDir
      globalMounts:
        - path: /logs
