apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: searxng
spec:
  refreshInterval: 1h
  target:
    name: searxng
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        SEARXNG_SECRET_KEY: "{{ `{{ .secret_key }}` }}"
  data:
    - secretKey: secret_key
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: SecretStore
      remoteRef:
        key: '{{ index .Values "bitwardenIds" "searxng" }}'
        property: password
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
