
bitwardenIds:
  flowise: OVERRIDE_NEEDED
  flowise-pg: OVERRIDE_NEEDED

domain: OVERRIDE_VIA_APPSET

app-template:
  global:
    nameOverride: &chartName flowise

  controllers:
    flowise:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: flowiseai/flowise
            tag: 3.0.12
          # TODO: From docker, translate these into k8 compatible ideas. 
          #--net=host \
          #--device=/PATH TO YOUR VIDEO DEVICE usually /dev/video0:/dev/video0 \
          workingDir: /tmp/
          env:
            LOG_LEVE: "debug"
            DEBUG: "true"
            TZ: Etc/UTC
          envFrom:
            - secretRef:
                name: *chartName
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            requests:
              cpu: 10m
              memory: 140Mi
            limits:
              memory: 2Gi
          securityContext:
            allowPrivilegeEscalation: false
            # TODO: Get this working.
            #readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
      #pod:
        # TODO: Get this working.
        #securityContext:
        #  runAsUser: 1000
        #  runAsNonRoot: true
        #  fsGroup: 1000
        #  fsGroupChangePolicy: OnRootMismatch
      #    supplementalGroups:
      #      # Dialout on MicroOS
      #      - 492 
      #      - 20
  service:
    flowise:
      controller: *chartName
      ports:
        http:
          port: 3000
  persistence:
    config:
      existingClaim: *chartName
