# Thanks go to the helm doc: https://helm.sh/docs/howto/chart_releaser_action/
name: Release Charts
on:
  push:
    branches:
      - main
    paths:
    - 'charts/**'

jobs:
  changes:
    runs-on: ubuntu-24.04
    # Required permissions
    permissions:
      pull-requests: read
    outputs:
      charts: ${{ steps.charts.outputs.CHARTS }}
      has_changes: ${{ steps.check_changes.outputs.HAS_CHANGES }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git and install jq
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          sudo apt-get install jq

      # Suggested by: https://how.wtf/run-workflow-step-or-job-based-on-file-changes-github-actions.html
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: shell
          filters: |
            charts:
              - charts/**
      - id: charts
        run: |
          echo "CHARTS=$(for file in ${{ steps.filter.outputs.charts_files }}; do echo $file | cut -d "/" -f 2 ; done | sort | uniq | jq  --raw-input .  | jq --slurp .  | tr '\n' ' ' )" >> $GITHUB_OUTPUT
      - id: test_output
        run: |
          echo "${{ steps.charts.outputs.CHARTS }}"
      - id: check_changes
        run: |
          if [ "${{ steps.charts.outputs.CHARTS }}" = "[]" ] || [ -z "${{ steps.charts.outputs.CHARTS }}" ]; then
            echo "HAS_CHANGES=false" >> $GITHUB_OUTPUT
          else
            echo "HAS_CHANGES=true" >> $GITHUB_OUTPUT
          fi

  test-build:
    needs: changes
    if: ${{ needs.changes.outputs.has_changes == 'true' }}
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.changes.outputs.charts) }}
    permissions:
      # Needed because of this: https://github.com/helm/chart-releaser-action/issues/110
      contents: write
    runs-on: ubuntu-24.04
    concurrency:
      # Only allow 1 to run at a time so that they get bumped correctly. 
      group: ${{ github.ref }}-test-build

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Bump Helm Chart Version for ${{ matrix.chart }}
        uses: EMAsphere/bump-helm-chart-action@main
        #if: steps.changes.outputs.charts == 'true'
        with:
          chart-path: charts/${{ matrix.chart }}
          app_version: false
          level: patch
          
      # Addresses https://github.com/helm/chart-releaser-action/issues/74
      - name: Add repositories
        run: |
          for dir in $(ls -d charts/*/); do
            helm dependency list $dir 2> /dev/null | tail +2 | head -n -1 | awk '{ print $1, $3 }' | while read name url; do
              if [[ ! "$url" =~ ^oci:// ]]; then
                helm repo add "$name" "$url"
              fi
            done
          done
        env:
          CHART: "${{ matrix.chart }}"
      - name: Run chart-releaser
        # Check for newest version at: https://github.com/helm/chart-releaser-action/releases
        uses: helm/chart-releaser-action@3e001cb8c68933439c7e721650f20a07a1a5c61e
        with:
          skip_existing: true
          skip_upload: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  bump:
    needs: [test-build, changes]
    if: ${{ needs.changes.outputs.has_changes == 'true' }}
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.changes.outputs.charts) }}
    # Needed because of this: https://github.com/helm/chart-releaser-action/issues/110
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    concurrency:
      # Only allow 1 to run at a time so that they get bumped correctly. 
      group: ${{ github.ref }}
      # OMG there is no way to stop canceling jobs: https://github.com/orgs/community/discussions/12835

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git pull

      - name: Bump Helm Chart Version for ${{ matrix.chart }}
        uses: EMAsphere/bump-helm-chart-action@main
        #if: steps.changes.outputs.charts == 'true'
        with:
          chart-path: charts/${{ matrix.chart }}
          app_version: false
          level: patch

      # TODO: Multi chart building breaks here because the commits step on each other.
      # I think maybe the trick might be to not do it as a matrix but instead trim [] and loop?
      - name: Add & Commit
        uses: EndBug/add-and-commit@v9.1.4

  release:
    needs: [bump, changes]
    if: ${{ needs.changes.outputs.has_changes == 'true' }}
    # Needed because of this: https://github.com/helm/chart-releaser-action/issues/110
    permissions:
      contents: write
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git pull
      # Addresses https://github.com/helm/chart-releaser-action/issues/74
      - name: Add repositories
        run: |
          for dir in $(ls -d charts/*/); do
            helm dependency list $dir 2> /dev/null | tail +2 | head -n -1 | awk '{ print $1, $3 }' | while read name url; do
              if [[ ! "$url" =~ ^oci:// ]]; then
                helm repo add "$name" "$url"
              fi
            done
          done
      - name: Run chart-releaser
        # Check for newest version at: https://github.com/helm/chart-releaser-action/releases
        uses: helm/chart-releaser-action@v1.7.0
        with:
          skip_existing: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CHART: "${{ matrix.chart }}"
